{{ define "main" }}
{{ $scratch := newScratch }}
{{ range sort .Pages.ByPublishDate "value" "desc" | last 1 }}
<article class="promoted">
	<div class="container">
		<article>
			<div class="date">
				<div class="day">
					{{ .PublishDate.Format "2" }}
				</div>
				<div class="month-year">
					{{ .PublishDate.Format "January" }} {{ .PublishDate.Format "2006" }}
				</div>
			</div>
			<div class="content">
				<h2>{{ .Title }}</h2>
				<p class="description">
					{{ .Description }}
				</p>
				<p class="author">
					By <i>{{ .Params.author.name }}</i>
				</p>
				<a href="{{ .Permalink }}">Read this article</a>
			</div>
		</article>
	</div>
</article>
{{ end }}
<div class="container">
	<div class="articles">
		{{ range sort .Pages.ByPublishDate "value" "desc"}}
		{{ $scratch.Set "year" (.PublishDate.Format "2006") }}
		<a href="{{ .Permalink }}">
			<article>
				<div class="tile">
					<div class="date">
						<div class="day">
							{{ .PublishDate.Format "2" }}
						</div>
						<div class="month-year">
							{{ .PublishDate.Format "January" }} {{ .PublishDate.Format "2006" }}
						</div>
					</div>
					<div class="content">
						<h2>{{ .Title }}</h2>
						<p class="description">
							{{ .Description }}
						</p>
						<p class="author">
							By <i>{{ .Params.author.name }}</i>
						</p>
					</div>
				</div>
			</article>
		</a>
		{{ end }}
		{{ $number_of_pages := len .Pages }}
		{{ if lt $number_of_pages 24}}
		{{ range $index, $val := (seq (sub 24 $number_of_pages)) }}
		<div class="future">
			<article>
				<div class="bar"></div>
				<div class="tile">
					<div class="date">
						<div class="day">{{ add 1 (add $number_of_pages $index) }}</div>
						<div class="month-year">December&nbsp;{{ $scratch.Get "year" }}</div>
					</div>
					<div class="content">
						<div>
							<h2 class="spoiler">
								{{ range (seq 4) }}
								{{ strings.Repeat (index (seq 5 | shuffle | first 1) 0) "—" }}
								{{ end }}
							</h2>
						</div>
						<div>
							<p class="description spoiler">
								{{ range (seq 12) }}
								{{ strings.Repeat (index (seq 8 | shuffle | first 1) 0) "—" }}
								{{ end }}
							</p>
						</div>
						<div>
							<p class="author spoiler">
								{{ range (seq 3) }}
								{{ strings.Repeat (index (seq 8 | shuffle | first 1) 0) "—" }}
								{{ end }}
							</p>
						</div>
					</div>
				</div>
			</article>
		</div>
		{{ end }}
		{{ end }}
	</div>
</div>
{{ end }}
