{{ define "main" }}
<div class="container">
	<section id="main">
		<div>
			<article id="content">
				{{ .Content }}
			</article>
		</div>
	</section>
	<aside id="meta">
		<div>
			<section>
				<div class="date">
					<div class="day">
						{{ .PublishDate.Format "2" }}
					</div>
					<div class="month-year">
						{{ .PublishDate.Format "January" }} {{ .PublishDate.Format "2006" }}
					</div>
				</div>
				<div class="content">
					<h1 id="title">{{ .Title }}</h1>
					<p class="author">by <i>{{ .Params.author.name }}</i></p>
				</div>
			</section>
			{{ with .Params.topics }}
			<ul id="topics">
				{{ range . }}
				<li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
				{{ end }}
			</ul>
			{{ end }}
			{{ with .Params.tags }}
			<ul id="tags">
				{{ range . }}
				<li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
				{{ end }}
			</ul>
			{{ end }}
		</div>
		<!--
		<div>
			{{ with .PrevInSection }}
			<a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
			{{ end }}
			{{ with .NextInSection }}
			<a class="next" href="{{.Permalink}}"> {{.Title}}</a>
			{{ end }}
		</div>
		-->
	</aside>
</div>
{{ end }}

