html {
	font-size: 20px;
	@media only screen and (max-width: 767px) {
		font-size: 16px;
	}
	@media only screen and (min-width: 768px) and (max-width: 1023px) {
		font-size: 18px;
	}
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	font-family: $firaSans;
	font-size: 1rem;
	color: $text;
	background-color: white;
	> .container {
		min-height: calc((100vh - 3rem) + 2px);
	}
}

pre, code {
	font-family: $firaMono;
	border-radius: 3px;
	font-size: 0.8rem !important;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code,
li code,
td code,
p code {
	background-color: #f0f0f0;
	color: #06287e;
	padding: 0 0.25rem;
	line-height: 1rem;
}

p img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

pre {
	border-radius: 3px;
	padding: 0.5rem;
	overflow-x: auto;
	code {
		font-size: 0.75rem !important;
	}
}

table {
	width: 100%;
	td {
		border-top: 1px solid $dark;
		padding: 0.25rem;
	}
	th {
		padding: 0.25rem;
		text-align: left;
	}
}

blockquote {
	background: aliceblue;
	padding: 0.25rem 1rem;
	margin-right: 0;
	margin-left: 0;
	border-radius: 3px;
	font-style: italic;
}

p {
	line-height: 1.5;
}

.container {
	box-sizing: border-box;
	margin: 0 auto;
	@media only screen and (min-width: 1280px) {
		max-width: calc(1280px - 6rem);
	}
	@media only screen and (min-width: 1024px) and (max-width: 1279px) {
		max-width: calc(1024px - 6rem);
	}
	@media only screen and (min-width: 768px) and (max-width: 1023px) {
		max-width: calc(768px - 6rem);
	}
	@media only screen and (max-width: 767px) {
		max-width: calc(100vw - 3rem);
	}
}

.asciicast {
	margin: 0 auto !important;
}

// propriétés d'une cellule
@mixin cell($break, $cells, $proportion, $width: 0px) {
	@include media-query($break) {
		width: ($proportion) * 100%;
		@include gutters($cells, $width);
	}
}

// style de base pour une rangée
%row {
	box-sizing: border-box;
	font-size:  0;
	list-style: none;
	margin:     0;
	padding:    0;
	width:      100%;
}

// style de base pour une cellule
%cell {
	box-sizing:     border-box;
	display:        inline-block;
	font-size:      initial;
	margin:         0;
	padding:        0;
	vertical-align: top;
	width:          100%;
}

.articles {
	@extend %row;
	> * {
		@extend %cell;
		margin: 0 0 1.5rem 0;
		color: inherit;
		text-decoration: none;

		@media only screen and (min-width: 1024px) {
			width: 25%;
			&:nth-child(1),
			&:nth-child(5),
			&:nth-child(9),
			&:nth-child(13),
			&:nth-child(17),
			&:nth-child(21),
			&:nth-child(25),
			&:nth-child(29) {
				padding-left: 0;
				padding-right: 1.1rem;
			}
			&:nth-child(2),
			&:nth-child(6),
			&:nth-child(10),
			&:nth-child(14),
			&:nth-child(18),
			&:nth-child(22),
			&:nth-child(26),
			&:nth-child(30) {
				padding-left: 0.4rem;
				padding-right: 0.75rem;
			}
			&:nth-child(3),
			&:nth-child(7),
			&:nth-child(11),
			&:nth-child(15),
			&:nth-child(19),
			&:nth-child(23),
			&:nth-child(27),
			&:nth-child(31) {
				padding-left: 0.75rem;
				padding-right: 0.4rem;
			}
			&:nth-child(4),
			&:nth-child(8),
			&:nth-child(12),
			&:nth-child(16),
			&:nth-child(20),
			&:nth-child(24),
			&:nth-child(28) {
				padding-left: 1.1rem;
				padding-right: 0;
			}
		}

		@media only screen and (min-width: 1024px) and (max-width: 1279px) {
			width: 33.333%;
			&:nth-child(1),
			&:nth-child(4),
			&:nth-child(7),
			&:nth-child(10),
			&:nth-child(13),
			&:nth-child(16),
			&:nth-child(19),
			&:nth-child(22),
			&:nth-child(25),
			&:nth-child(28),
			&:nth-child(31) {
				padding-left: 0;
				padding-right: 1rem;
			}
			&:nth-child(2),
			&:nth-child(5),
			&:nth-child(8),
			&:nth-child(11),
			&:nth-child(14),
			&:nth-child(17),
			&:nth-child(20),
			&:nth-child(23),
			&:nth-child(26),
			&:nth-child(29) {
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}
			&:nth-child(3),
			&:nth-child(6),
			&:nth-child(9),
			&:nth-child(12),
			&:nth-child(15),
			&:nth-child(18),
			&:nth-child(21),
			&:nth-child(24),
			&:nth-child(27),
			&:nth-child(30) {
				padding-left: 1rem;
				padding-right: 0;
			}
		}

		@media only screen and (width: 768px) {
			width: 50%;
			&:nth-child(1),
			&:nth-child(3),
			&:nth-child(5),
			&:nth-child(7),
			&:nth-child(9),
			&:nth-child(11),
			&:nth-child(13),
			&:nth-child(15),
			&:nth-child(17),
			&:nth-child(19),
			&:nth-child(21),
			&:nth-child(23),
			&:nth-child(25),
			&:nth-child(27),
			&:nth-child(29),
			&:nth-child(31) {
				padding-left: 0;
				padding-right: 1.5rem;
			}
			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(6),
			&:nth-child(8),
			&:nth-child(10),
			&:nth-child(12),
			&:nth-child(14),
			&:nth-child(16),
			&:nth-child(18),
			&:nth-child(20),
			&:nth-child(22),
			&:nth-child(24),
			&:nth-child(26),
			&:nth-child(28),
			&:nth-child(30) {
				padding-left: 1.5rem;
				padding-right: 0;
			}
		}

		@media only screen and (max-width: 767px) {
			width: 100%;
		}
	}
}

.future {
	position: relative;
	.date, .content {
		opacity: 0.5;
	}
}
.bar {
	display: none;
	width: 1.5rem;
	height: 27rem;
	background-color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -0.75rem;
	margin-top: -13.5rem;
	z-index: 100;
	@media only screen and (min-width: 1280px) {
		transform: skew(-27deg);
	}
	@media only screen and (min-width: 1024px) and (max-width: 1279px) {
		transform: skew(-28.5deg);
	}
	@media only screen and (min-width: 768px) and (max-width: 1023px) {
		transform: skew(-19deg);
		height: 29rem;
		margin-top: -14.5rem;
	}
	@media only screen and (max-width: 767px) {
		transform: skew(-26deg);
		height: 24rem;
		margin-top: -12rem;
	}
}
.spoiler {
	opacity: 0.2;
	background-color: $text;
	display: inline;
}
.date {
	text-align: center;
	height: 12rem;
	.day {
		font-size: 10rem;
		font-weight: bold;
		line-height: 1;
		margin-bottom: -1rem;
	}
	.month-year {
		font-size: 1.44rem;
		line-height: 1;
	}
}

.contact {
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		list-style-position: inside;
		margin-bottom: 3px;
		a {
			background-color: $cornsilk-dark;
			display: block;
			border-radius: 3px;
			line-height: 1.5rem;
			height: 1.5rem;
			padding: 0 0.5rem;
			border-bottom: 1px solid $cornsilk-darker;
			text-decoration: none;
			color: $text;
		}
	}
}

article {
	box-sizing: border-box;
	margin: 0;
	overflow: hidden;
	border-radius: 0 0 3px 3px;
	position: relative;
	&:last-child {
		margin-bottom: 0;
	}
	@media only screen and (min-width: 768px) and (max-width: 1023px) {
		border-radius: 0 3px 3px 0;
	}
	.content {
		background-color: $cornsilk;
		border-bottom: 1px solid $cornsilk-dark;
		height: 15rem;
		border-radius: 3px;
		padding: 1.5rem;
		box-sizing: border-box;
		> div {
			margin: 0 0 0.5rem 0;
		}
		@media only screen and (min-width: 768px) and (max-width: 1023px) {
			height: 17rem;
		}
		@media only screen and (max-width: 767px) {
			height: 12rem;
		}
		.author {
			font-size: 0.8em;
		}
	}
	.tile {
		margin: 0;
		h1, h2 {
			margin: 0 0 0.5rem 0;
		}
		.description {
			line-height: 1.5;
		}
	}
	&.promoted {
		background-color: #007f00;
		background-image: linear-gradient(to bottom, #007f00, #1b8818, #2b9029, #399937, #45a245);
		color: white;
		border-radius: 0;
		height: auto;
		margin-bottom: 1rem;
		margin-top: -1px;
		.date {
			float: left;
			@media only screen and (min-width: 1280px) {
				width: 20%;
			}
			@media only screen and (width: 1024px) {
				width: 25%;
			}
			@media only screen and (width: 768px) {
				width: 31%;
			}
			@media only screen and (max-width: 767px) {
				float: none;
			}
		}
		.content {
			float: left;
			@media only screen and (min-width: 1280px) {
				width: 80%;
			}
			@media only screen and (width: 1024px) {
				width: 75%;
			}
			@media only screen and (width: 768px) {
				width: 69%;
			}
			height: auto;
			background-color: transparent;
			padding-bottom: 2rem;
			@media only screen and (max-width: 767px) {
				float: none;
				padding-top: 0;
				.author {
					margin-bottom: 1.5rem;
				}
			}
			border-bottom: none;
			h2 {
				font-size: 2rem;
				line-height: 1;
				margin: 0;
			}
			a {
				display: inline-block;
				position: absolute;
				bottom: 1.5rem;
				right: 0;
				background-color: white;
				border-radius: 3px;
				color: $text;
				text-shadow: none;
				text-decoration: none;
				padding: 0.5em 1em;
				border-bottom: 1px solid $dark;
				max-width: auto;
				@media only screen and (max-width: 767px) {
					bottom: 0;
					position: relative;
				}
			}
		}
	}
}
