#main {
	box-sizing: border-box;
	float: left;
	width: 60%;
	padding: 0 1.5rem 0 0;
	margin: 0 0 3rem 0;
	article {
		overflow: unset;
		overflow-x: visible;
		text-align: justify;
		a {
			text-decoration: none;
			border-bottom: 1px solid;
			&.footnote-return {
				border-bottom: none;
				text-decoration: underline;
			}
		}
		& > pre {
			overflow: hidden;
			box-sizing: border-box;
			@media only screen and (max-width: 1023px) {
				overflow: auto;
			}
			@media only screen and (min-width: 1024px) {
				// &:after {
				// 	position: absolute;
				// 	bottom: 0;
				// 	right: 0;
				// 	background-color: white;
				// 	font-size: 0.4em;
				// 	line-height: 2;
				// 	padding: 0 0.5em;
				// 	border-radius: 1px 1px 3px 1px;
				// 	border: 1px solid #f0f0f0;
				// }
			}
			@media only screen and (width: 1024px) {
				&:active {
					min-width: 100%;
					width: calc(166% + 3rem);
					&:after {
						display: none;
					}
				}
				// &:after {
				// 	content: "Touch to expand";
				// 	position: absolute;
				// 	bottom: 0;
				// 	right: 0;
				// 	background-color: white;
				// 	font-size: 0.4em;
				// 	line-height: 2;
				// 	padding: 0 0.5em;
				// 	border-radius: 1px 1px 3px 1px;
				// 	border: 1px solid #f0f0f0;
				// }
			}
			@media only screen and (min-width: 1025px) {
				&:hover {
					min-width: 100%;
					width: calc(166% + 3rem);
					&:after {
						display: none;
					}
				}
				// &:after {
				// 	content: "Hover to expand";
				// 	position: absolute;
				// 	bottom: 0;
				// 	right: 0;
				// 	background-color: white;
				// 	font-size: 0.4em;
				// 	line-height: 2;
				// 	padding: 0 0.5em;
				// 	border-radius: 1px 1px 3px 1px;
				// 	border: 1px solid #f0f0f0;
				// }
			}
		}
	}
}
aside {
	box-sizing: border-box;
	float: left;
	width: 40%;
	padding: 0 0 0 1.5rem;
	.content {
		background-color: $cornsilk;
		border-bottom: 1px solid $cornsilk-dark;
		border-radius: 3px;
		padding: 1.5rem;
		box-sizing: border-box;
		> div {
			margin: 0 0 0.5rem 0;
		}
		.author {
			font-size: 0.8em;
		}
	}
	h1 {
		font-size: 2rem;
		margin: 0 0 1rem 0;
	}
}
.meta aside .content {
	margin: 1.5rem 0 0 0;
	h1 {
		margin: 0;
	}
}
@media only screen and (width: 768px) {
	.container {
		&.post {
			display: flex;
			flex-direction: column-reverse;
			aside, #main {
				width: 100%;
			}
			aside {
				padding: 0;
				.date {
					float: left;
					width: 31%;
					margin: 0.75rem 1.5rem 0 0;
				}
				.content {
					float: left;
					width: calc(69% - 1.5rem);
					margin-top: 1.5rem;
					height: calc(12rem - 1.5rem);
					box-sizing: border-box;
				}
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	.container {
		&.post {
			display: flex;
			flex-direction: column-reverse;
			aside, #main {
				width: 100%;
				margin: 0;
				padding: 0;
			}
			aside {
				padding: 0;
			}
		}
	}
}
