<footer>
	<div class="container">
		<ul>
			<li>© 2018 All Rights Reserved.</li>
			<li>
			    <a href="https://github.com/vim-advent-calendar/vimways.org">GitHub</a>
			</li>
			<li>
			    <a href="/index.xml">RSS</a>
			</li>
			<li>
			    <a href="https://twitter.com/vimways">Twitter</a>
			</li>
			<li>
			    <a href="/about">About</a>
			</li>
			<li class="form-select">
				<form class="navigator">
					<select name="quick-nav" id="quick-nav">
						<option value="option" disabled selected>Choose an edition</option>
						<option value="/2019/">2019</option>
						<option value="/2018/">2018</option>
					</select>
				</form>
			</li>
		</ul>
	</div>
</footer>
