<header>
	<div class="container">
		<nav>
			<a class="vimways" href="/">Vimways</a>
			<ul>
				<li>
					<a href="/about">About</a>
				</li>
				<!--
				<li class="form-select">
					<select name="quick-nav" id="quick-nav">
						<option value="option" disabled selected>Articles</option>
						<optgroup label="2019">
							<option value="/2018/gagbo-truly-cross-platform/">truly-cross-platform/</option>
							<option value="option">option</option>
							<option value="option">option</option>
						</optgroup>
						<optgroup label="2018">
							<option value="option">option</option>
							<option value="option">option</option>
							<option value="option">option</option>
						</optgroup>
					</select>
				</li>
				-->
			</ul>
		</nav>
	</div>
</header>
