<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Site.Title }} ~ {{ .Title }}</title>

	<!-- analytics -->
	{{ template "_internal/google_analytics_async.html" . }}

	<!-- opengraph -->
	{{ template "_internal/opengraph.html" . }}

	<!-- twitter -->
	{{ template "_internal/twitter_cards.html" . }}

	<!-- syndication -->
	<!-- FIXME: only works on list templates, is it normal? -->
	{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{ $main := resources.Get "sass/main.scss" | resources.ToCSS}}
	<link rel="stylesheet" href="{{ $main.RelPermalink }}">
</head>
